body{
    font-family: 'Staatliches', cursive;
	border: thin solid #444444;
	display: table; width: 100%;
	padding: 50px;
	background-color: #61739e;
	color: white;
}

h1 { 
	color: yellow;
	font-size: 48px;
}

p {
  font-size: 20px;
}

button {
	background-color: #61739e;
	color: yellow;
	border-width: 2px;
	border-color: yellow;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 6px;
}

